/*Table format*/
. table {
    border-collapse: collapse;
}

th, td {
    text-align: left;
    padding: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
    border: 1px solid black;
}

th {
    text-align: center;
    font-style: italic;
}

table ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: auto;
    border: 1px solid #e7e7e7;
    background-color: #f4f4f4;
    background: linear-gradient(to right, #B0C4DE, #8FBC8F);
}

table li {
    float: left;
}

table li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 5px 6px;
    text-decoration: none;
    font-size: 12px;
}

table li a:hover:not(.active) {
    background-color: #ddd;
}

table li a:hover {
    background-color: blue;
}

/*Format for even rows*/
tr:nth-child(even){ background-color: #B0C4DE; }
/*END table format*/

/*Button for table format*/
.button {
    display: inline-block;
    padding: 10px 12px;
    font-size: 13px;
    font-family: arial;
    letter-spacing: 1px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #000;
    background-color: #B0C4DE;
    border: none;
    border-radius: 12px;
    box-shadow: 0 3px #999;
}

.button:hover {background-color: #8FBC8F}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 4px #666;
    transform: translateY(4px);
}

.button_border {
    border: none;
}
