
header {
    width: 100%;
    border: solid;
}

h1 {
    color: red;
}
.sidebar {
    text-align: left;
    width: 15%;
    height: 1000px;
    float: left;
    border: solid;
}
.profile {
    border: solid;
    height: 120px;
    text-align: left;
    padding-top: 20px;
    padding-left: 15px;
    }

#profile_picture {
    height: 70px;
    width: 70px;
}
.navigation {
    list-style: none;
    margin-left: 5px;
}
