{% extends "layout.html" %}
{% block content %}
<div class="container">
<style>
    .product .img-responsive {
    margin: 0 auto;
}
        </style>

    <div class="col-md-3"><h1 style="text-align: center;font-size: 2200%; margin-top: -20px">4</h1></div>
  <div class="col-md-3"><img style="text-align: center"class="img-circle img-responsive" src="/static/img/404.gif"></div>
  <div class="col-md-3" style="text-align: center"><h1 style="font-size: 1900%;margin-top: -20px">4</h1></div>
</div>
    <h2 style="text-align: center">Go somewhere else :p</h2>
{% endblock %}