{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-1 col-xs-1"></div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="page-header">
                    <h1>Assignment Edit <span class="glyphicon glyphicon-plus"></span></h1>
                    <p><i>- edit a assignment</i></p>
                </div>
                <div class="form">
                    <form action="{{ url_for('assignment_edit', ID_assignment=assignment.id) }}"
                          method="post">
                        <p>Name</p>
                        <p><input name="assignment_name" class="form-control" value="{{ assignment.name }}" required></p>
                        <p>Due Date</p>
                        <p><input name="due_date" class="form-control" value="{{ assignment.due_date }}"></p>
                        <p>Max points</p>
                        <input name="max_points" class="form-control" value="{{ assignment.max_points }}"></p>
                        <p>Description</p>
                        <p><textarea rows="5" cols="42" name="comments"
                                     placeholder="Enter assignment description, please make it clear to help students understand easily :)"></textarea>
                        </p>
                        <p>
                            <button class="btn btn-info" type="submit"
                                    formaction="{{ url_for('assignment_edit', ID_assignment=assignment.id) }}"
                                    formmethod="post"> SAVE CHANGES
                            </button>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}