{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-1 col-xs-1"></div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="page-header">
                    <h1>Assignment Add <span class="glyphicon glyphicon-plus"></span></h1>
                    <p>- add a new assignment</p>
                </div>
                <div class="form">
                    <form action="{{ url_for('submit_assignment') }}" method="POST">
                        <p>Name</p>
                        <p><input name="assignment_name" class="form-control" placeholder="Enter assignment name" required></p>
                        <p>Due Date</p>
                        <p><input name="due_date" class="form-control" placeholder="Enter assignment submit date"></p>
                        <p>Max points</p>
                        <input name="max_points" class="form-control" placeholder="Enter max points"></p>
                        <p>Description</p>
                        <p><textarea rows="5" cols="42" name="comments"
                                     placeholder="Enter assignment description, please make it clear to help students understand easily :)"></textarea>
                        </p>
                        <p>
                            <button class="btn btn-info" type="submit" formaction="/assignment_add">Add</button>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}