<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/css/style.css">
        <link rel="stylesheet" type="text/css" href="static/css/table.css">
        <title>Assignment Add</title>
        <meta charset="utf-8">
    </head>
    <body>
        <!-- baner -->
        <header style="background-image: url(static/img/ccms-header.jpg)"></header>
        <!-- baner end -->
        <div class="sidebar">
            <div class="profile">
                <img id="profile_picture" src="http://bit.ly/2l7tkrK"/>
                <p id="profile_name">Logged as: <strong>PRZEMEK</strong> <hr></p>
                <button type="button" id="logout_button"
                onclick="location.href='index'">logout</button>
            </div>
            <!-- navigation menu -->
            <div class="navigation">
                <nav>
                    <ul class="navigation">
                        <strong>LOGIN</strong>
                            <li><a href="index.html">correct login</a> </li>
                            <li><a href="login_error.html">incorrect login</a> </li><hr>
                        <strong>STUDENT</strong>
                            <li><a href="student_list">List</a></li>
                            <li><a href="student_add">Add</a></li>
                            <li><a href="student_details.html">Details</a></li><hr>
                        <strong>MENTOR</strong>
                            <li><a href="mentor_list">List</a></li>
                            <li><a href="mentor_add">Add</a></li>
                            <li><a href="mentor_details.html">Details</a></li><hr>
                        <strong>EMPLOYEE</strong>
                            <li><a href="employee_list">List</a></li>
                            <li><a href="employee_add">Add</a></li><hr>
                        <strong>ASSIGNMENTS</strong>
                            <li><a href="assignment_list">List</a></li>
                            <li><a href="assignment_add">Add</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <article>
            <!-- assignment form -->
            <center>
            <div class="form">
                <form action="{{ url_for('submit_assignment') }}" method="POST">
                <h2>Add assignment menu</h2>
                <p><lable>Name</lable></p>
                    <p><input name="assignment_name" placeholder="Enter assignment name"></p>
                    <p><lable>Due Date</lable></p>
                    <p><input name="due_date" placeholder="Enter assignment submit date"></p>
                    <p><lable>Max points</lable></p>
                    <input name="max_points" placeholder="Enter max points" ></p>
                    <p><lable>Description</lable></p>
                    <p><textarea rows="5" cols="30" name="comments" placeholder="Enter assignment description, please make it clear to help students understand easily :)"></textarea></p>
                </p>
                <p><button class="button" type="submit" formaction="/assignment_add">ADD ASSIGNMENT</button></p>
                </form>
            </div>
            </center>
        </article>
    </body>
</html>
