{% extends "layout.html" %}
{% block content %}
<h3>LIST OF ASSIGNMENTS</h3>
<div>
    <center><table>
        <tr>
            <th>#</th>
            <th>Assignment Name</th>
            <th>Due Date</th>
            <th>Max Points</th>
            <th>Actions</th>
            <th class="button_border"><button class="button" type="button"
                                          onclick="location.href='assignment_add'">add assignment</button></th>
            </tr>
        {% for assignment in assignments %}
            <tr>
            <td>{{ assignments.index(assignment) + 1 }}</td>
            <td>{{ assignment.assignment_name }}</td>
            <td>{{ assignment.due_date }}</td>
            <td>{{ assignment.max_points }}</td>
            <td>
                <ul>
                    <li><a href="/assignment_remove/{{ assignment.ID_assignment }}">[Remove]</a></li><br>
                </ul>
            </td>
            </tr>
        {% endfor %}
</table></center>
</div>
{% endblock %}

