{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="page-header">
        <div class="col-md-2 col-sm-1 col-xs-1"></div>
        <h1>Employee List <span class="glyphicon glyphicon-list-alt"></span></h1>
        <br></div>
    <div class="row">
        <div class="col-md-2 col-sm-1 col-xs-1"></div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="table-responsive">
                <button class="btn btn-info" type="button"
                        onclick="location.href='employee_add'">Add employee
                </button>
                <hr>
                <table class="table table-striped table-bordered table-hover ">
                    <thead class="bg-info text-white">
                    <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Surname</th>
                        <th>Edit</th>
                        <th>Remove</th>
                    </tr>
                    </thead>
                    {% for employee in employees %}
                    <tr>
                        <td class="col-md-1">{{ employees.index(employee)+1 }}</td>
                        <td class="col-md-4">{{ employee.name }}</td>
                        <td class="col-md-4">{{ employee.surname }}</td>
                        <td class="col-md-1 text-center"><a href="/employee_edit/{{ employee.id }}" class="button "><span
                                class="glyphicon glyphicon-pencil"></span></a></td>
                        <td class="col-md-1 text-center"><a href="/employee_remove/{{ employee.id }}" class="button"><span
                                class="glyphicon glyphicon-trash"></span></a></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
