{% extends "layout.html" %}
{% block content  %}
            <h3>LIST OF EMPLOYEE</h3>
            <div>
                <center><table class="employee">
                    <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Surname</th>
                        {% if session["user_role"] == "manager" %}
                        <th>Actions</th>
                        <th class="button_border"><button class="button" type="button"
                            onclick="location.href='employee_add'">Add employee</button></th>
                        {% endif %}
                    </tr>
                            {% for employee in employees %}
                                <tr>
                                <td>{{ employees.index(employee) + 1}}</td>
                                <td>{{ employee.name }}</td>
                                <td>{{ employee.surname }}</td>
                                                {% if session["user_role"] == "manager" %}

                                <td>
                                    <ul>
                                        <li><a href="/employee_edit/{{ employee.id }}">[Edit] </a></li>
                                        <li><a href="/employee_remove/{{ employee.id }}">[Remove]</a></li><br>
                                    </ul>
                                </td>
                                {% endif %}
                                </tr>
                            {% endfor %}
              </table></center>
            </div>
{% endblock %}
