<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/css/style.css">
        <link rel="stylesheet" type="text/css" href="static/css/table.css">
        <title>Employee List</title>
        <meta charset="utf-8">
    </head>
    <body>
        <header style="background-image: url(img/ccms-header.jpg)"></header>
        <div class="sidebar">
            <div class="profile">
                <img id="profile_picture" src="http://bit.ly/2l7tkrK"/>
                <p id="profile_name">Logged as: <strong>PRZEMEK</strong> <hr></p>
                <button type="button" id="logout_button"
                onclick="location.href='index.html'">logout</button>
            </div>
            <div class="navigation">
                <nav>
                    <ul class="navigation"><strong>LOGIN</strong>
                        <li><a href="index.html">correct login</a> </li>
                        <li><a href="login_error.html">incorrect login</a> </li><hr>
                        <strong>STUDENT</strong>
                            <li><a href="student_list.html">List</a></li>
                            <li><a href="student_add.html">Add</a></li>
                            <li><a href="student_edit.html">Edit</a></li>
                            <li><a href="student_details.html">Details</a></li><hr>
                        <strong>TEAM</strong>
                            <li><a href="team_list.html">List</a></li>
                            <li><a href="team_add.html">Add</a></li>
                            <li><a href="team_edit.html">Edit</a></li><hr>
                        <strong>MENTOR</strong>
                            <li><a href="mentor_list.html">List</a></li>
                            <li><a href="mentor_add.html">Add</a></li>
                            <li><a href="mentor_edit.html">Edit</a></li>
                            <li><a href="mentor_details.html">Details</a></li><hr>
                        <strong>EMPLOYEE</strong>
                            <li><a class = "active" href="employee_list.html">List</a></li>
                            <li><a href="employee_add.html">Add</a></li>
                            <li><a href="employee_edit.html">Edit</a></li><hr>
                        <strong>CLASS</strong>
                            <li><a href="class_list.html">List</a></li>
                            <li><a href="class_add.html">Add</a></li>
                            <li><a href="class_edit.html">Edit</a></li><hr>
                        <strong>ASSIGNMENTS</strong>
                            <li><a href="assignment_list.html">List</a></li>
                            <li><a href="assignment_add.html">Add</a></li>
                            <li><a href="assignment_edit.html">Edit</a></li><hr>
                        <strong>ATTENDANCE</strong>
                            <li><a href="attendance_check.html">Check</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <article>
            <h3>LIST OF EMPLOYEE</h3>
            <div>
                <center><table class="employee">
                    <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Surname</th>
                        <th>Actions</th>
                        <th class="button_border"><button class="button" type="button"
                            onclick="location.href='employee_add'">Add employee</button></th>
                    </tr>
                        {% block content %}
                            {% for employee in employees %}
                                <tr>
                                <td>{{ employees.index(employee)+1 }}</td>
                                <td>{{ employee.name }}</td>
                                <td>{{ employee.surname }}</td>

                                <td>
                                    <ul>
                                        <li><a href="employee_edit.html">[Edit] </a></li>
                                        <li><a href="#">[Remove]</a></li><br>
                                    </ul>
                                </td>
                                </tr>
                            {% endfor %}
                        {% endblock %}

              </table></center>
            </div>
        </article>
    </body>
    </html>

