{% extends "layout.html" %}
{% block content  %}
        <article>
            <center>
            <form action="{{ url_for('employee_edit', employee_id=employee.id) }}" method="post">
            <div class="form">
                <h2>Edit employee menu</h2>
                <p>Name<p></p><input name="name" value="{{ employee.name }}">  </p>
                <p>Surname<p></p><input name="surname" value="{{ employee.surname }}"></p>
                <p>Login<p></p><input name="login" value="{{ employee.login }}"></p>
                <p>Password<p></p><input name="password" value="***"></p>
                <p><button class="button" type="submit" formaction="{{ url_for('employee_edit', employee_id=employee.id) }}" formmethod="post"> SAVE CHANGES</button></p>
            </div></form>
            </center>
        </article>
{% endblock %}