{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-2 col-sm-1 col-xs-1"></div>
        <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="page-header">
                <h1>Employee Edit <span class="glyphicon glyphicon-pencil"></span></h1>
                <p>- edit a employee</p>
            </div>
            <div class="form">
                <form action="{{ url_for('employee_edit', employee_id=employee.id) }}" method="post">
                    <p>Name</p>
                    <p><input name="name" class="form-control" value="{{ employee.name }}" required></p>
                    <p>Surname</p>
                    <p><input name="surname" class="form-control" value="{{ employee.surname }}" required></p>
                    <p>Login</p>
                    <p><input name="login" class="form-control" value="{{ employee.login }}"></p>
                    <p>Password</p>
                    <p><input name="password" class="form-control" value="***"></p>
                    <p>
                        <button class="btn btn-info" type="submit"
                                formaction="{{ url_for('employee_edit', employee_id=employee.id) }}" formmethod="post">Save
                        </button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}