<!DOCTYPE html>

<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="static/css/style.css">
        <title>Login</title>
        <meta charset="utf-8">
    </head>
    <body>
        <!-- class for LOGIN page -->
        <p id="error_message">{{ message }} </p>
        <center>
            <form action="/login" method="post">
        <div class="form">
            <h1 class="header">CcMS</h1>
            <h2>Login to your account</h2>
            <p><input name="login" placeholder="Enter your login"></p>
            <p><input name="password" placeholder="Enter your password"></p>
            <p> <input type="submit" value="login"></p>
        </div></form>
        </center>
    </body>
</html>
