<!DOCTYPE html>

<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <title>Login</title>
        <meta charset="utf-8">
    </head>
    <body>
        <!-- class for LOGIN page -->
        <center>
        <div class="form">
            <h1 class="header">CcMS</h1>
            <h2>Login to your account</h2>
            <p><input name="login" placeholder="Enter your login"></p>
            <p><input name="password" placeholder="Enter your password"></p>
            <p> <button type="button" onclick="location.href='main.html'">Login</button> </p>
        </div>
        </center>
    </body>
</html>
