<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Login Error</title>
    <link rel="stylesheet" href="css/style.css">
</head>
    <body>
        <!-- class for error LOGIN page -->
        <center>
        <div class="form">
            <h1 class="header">CcMS</h1>
            <h2>Login to your account</h2>
            <h2 class="wrong">Wrong login or password</h2>
            <p><input name="login" placeholder="Enter your login"></p>
            <p><input name="password" placeholder="Enter your password"></p>
            <p> <button type="button" onclick="location.href='main'">Login</button> </p>
        </div>
        </center>
    </body>
</html>
