<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
              integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                crossorigin="anonymous"></script>
            <meta charset="utf-8">
    </head>
    <body class="mmin">
        <div class = "container" >
            <div class="wrapper span4">
                <form action="" method="post" name="Login_Form" class="form-signin">
                    <img src="../static/img/programadores.png" class="img-responsive">
                    <h4 style="color:red;text-align: center;">WRONG LOGIN OR PASSWORD!</h4>
                    <h5 style="color:red;text-align: center; ">Please try again.</h5>
                    <hr class="colorgraph"><br>
                    <input type="text" class="form-control" name="Login" placeholder="Login" required="" autofocus="" />
                    <input type="password" class="form-control" name="Password" placeholder="Password" required=""/>
                    <button class="btn btn-lg btn-primary btn-block" onclick="location.href='/main'" name="Submit" value="Login" type="Submit">Login</button>
                </form>
            </div>
        </div>
    </body>
</html>