{% extends "layout.html" %}
{% block content  %}
        <article>
            <center>
            <div class="form">
                <form action="{{ url_for('submit_mentor') }}" method="POST">
                    <h2>Add mentor menu</h2>
                    <p>Name</p><p><input name="name" placeholder="Enter mentor name"></p>
                    <p>Surname</p><p><input name="surname" placeholder="Enter mentor surname"></p>
                    <p>Login</p><p><input name="login" placeholder="Enter mentor login"></p>
                    <p>Password</p><p><input name="password" placeholder="Enter mentor password"></p>
                    <p> <button class="button" type="submit" formaction="/mentor_add"> ADD MENTOR</button> </p>
                </form>
            </div>
            </center>
        </article>
{% endblock %}

