{% extends "layout.html" %}
{% block content  %}
            <div class="container">
                <div class="page-header">
                    <div class="col-md-3 col-sm-1 col-xs-1"></div>
                    <h1>Mentor List <span class="glyphicon glyphicon-list-alt"></span></h1>
                    <br></div>
            <div class="row">
                <div class="col-md-3 col-sm-1 col-xs-1"></div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="table-responsive">
                    <button class="button" type="button"
                            onclick="location.href='mentor_add'">Add mentor</button><hr>
                    <table class = "table table-striped table-bordered table-hover ">
                        <thead class="bg-info text-white">
                            <tr>
                                <th>#</th>
                                <th>First Name</th>
                                <th>Surname</th>
                                <th>Edit</th>
                                <th>Remove</th>
                            </tr>
                        </thead>

                            {% for mentor in mentors %}
                             <tr>
                                <td class="col-md-1 col-sm-1 col-xs-1">{{ mentors.index(mentor)+1 }}</td>
                                <td class="col-md-4 col-sm-4 col-xs-4">{{ mentor.name }}</td>
                                <td class="col-md-4 col-sm-4 col-xs-4">{{ mentor.surname }}</td>
                                <td class="col-md-1 col-sm-1 col-xs-1 text-center"><a href="/mentor_edit/{{ mentor.id }}" class="button "><span class="glyphicon glyphicon-pencil"></span></a></td>
                                <td class="col-md-1 col-sm-1 col-xs-1 text-center"><a href="/mentor_remove/{{ mentor.id }}" class="button"><span class="glyphicon glyphicon-trash"></span></a></td>
                             </tr>
                            {% endfor %}
                  </table>
                </div>
            </div>
                <div class="col-md-3 col-sm-1 col-xs-1"></div>
            </div></div></div>
{% endblock %}