<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" type="text/css" href="css/table.css">
        <title>Student Details</title>
        <meta charset="utf-8">
    </head>
    <body>
        <header style="background-image: url(img/ccms-header.jpg)"></header>
        <div class="sidebar">
            <div class="profile">
                <img id="profile_picture" src="http://bit.ly/2l7tkrK"/>
                <p id="profile_name">Logged as: <strong>PRZEMEK</strong> <hr></p>
                <button type="button" id="logout_button"
                onclick="location.href='index'">logout</button>
            </div>
            <div class="navigation">
            <nav>
                <ul class="navigation"><strong>LOGIN</strong>
                    <li><a href="index">correct login</a> </li>
                    <li><a href="login_error">incorrect login</a> </li><hr>
                    <strong>STUDENT</strong>
                        <li><a href="student_list">List</a></li>
                        <li><a href="student_add">Add</a></li>
                        <li><a href="student_edit">Edit</a></li>
                        <li><a class = "active" href="student_details">Details</a></li><hr>
                    <strong>TEAM</strong>
                        <li><a href="team_list">List</a></li>
                        <li><a href="team_add">Add</a></li>
                        <li><a href="team_edit">Edit</a></li><hr>
                    <strong>MENTOR</strong>
                        <li><a href="mentor_list">List</a></li>
                        <li><a href="mentor_add">Add</a></li>
                        <li><a href="mentor_edit">Edit</a></li>
                        <li><a href="mentor_details">Details</a></li><hr>
                    <strong>EMPLOYEE</strong>
                        <li><a href="employee_list">List</a></li>
                        <li><a href="employee_add">Add</a></li>
                        <li><a href="employee_edit">Edit</a></li><hr>
                    <strong>CLASS</strong>
                        <li><a href="class_list">List</a></li>
                        <li><a href="class_add">Add</a></li>
                        <li><a href="class_edit">Edit</a></li><hr>
                    <strong>ASSIGNMENTS</strong>
                        <li><a href="assignment_list">List</a></li>
                        <li><a href="assignment_add">Add</a></li>
                        <li><a href="assignment_edit">Edit</a></li><hr>
                    <strong>ATTENDANCE</strong>
                        <li><a href="attendance_check">C
                        heck</a></li>
                </ul>
            </nav>
            </div>
        </div>
            <article>
            <div class="details">
                <div class="details_header">
                    <h2>Adam Abacki</h2>
                    <p id="details_group">Team: Muchomorki</p>
                    <img id="details_img" src="http://bit.ly/2l7tkrK"/>
                </div>
            </div>
                <section>
                    <h3 class="details">Bio</h3>
                    <div id="description">
                        <p class="details">
                            I like fast trains and deep forest with mushrooms.
                            I hate spiders.
                        </p></div>
                    <ul class="details">
                    <li> <h3>Grades:</h3> </li>
                        <div>
                            <table>
                                <tr>
                                    <th>Task:</th>
                                    <th>Grade:</th>
                                    <th>Max points:</th>
                                    <th>Due Date:</th>
                                    <th>Submitted:</th>
                                </tr>
                                <tr>
                                    <td>To Do List</td>
                                    <td>51</td>
                                    <td>100</td>
                                    <td>23-02-2017</td>
                                    <td>23-02-2017</td>
                                <tr>
                                    <td>100 Doors</td>
                                    <td>58</td>
                                    <td>100</td>
                                    <td>19-02-2017</td>
                                    <td>15-03-2017</td>
                                </tr>
                            </table>
                            <p id="details_average_grade">Average grade: 56</p>
                        </div>
                    <li><h3>To-do assignments</h3></li>
                    <div>
                        <table>
                            <tr>
                                <th>Task:</th>
                                <th>Due Date:</th>
                            </tr>
                            <tr>
                                <td>Ccms 1</td>
                                <td>23-02-2017</td>
                                <td><button type="submit" class="button">Submit</td>
                            <tr>
                                <td>Ccms 2 </td>
                                <td>19-03-2017 </td>
                                <td><button type="submit" class="button">Submit</td>
                            </tr>
                        </table>
                    </div>
                    <li> <h3>Ungraded assignments</h3> </li>
                    <div>
                        <table>
                            <tr>
                                <th>Task:</th>
                                <th>Due Date:</th>
                                <th>Submitted:</th>
                            </tr>
                            <tr>
                                <td>Css ZEN Garden</td>
                                <td>23-02-2017</td>
                                <td>23-02-2017</td>
                            <tr>
                                <td>Geometry</td>
                                <td>19-03-2017</td>
                                <td>20-03-2017</td>
                            </tr>
                        </table>
                    <li><h3>Attendance</h3></li>
                    <div>
                        <table>
                            <tr>
                                <th>Average:</th>
                                <th id="attendance_result">70%</th>
                            </tr>
                        </table>
                    </div>
                    </ul>
                </section>
            </div>
        </article>
    </body>
</html>
