<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <title>Student List</title>
        <meta charset="utf-8">
    </head>
    <body>
        <header style="background-image: url(static/img/ccms-header.jpg)"></header>
        <div class="sidebar">
            <div class="profile">
                <img id="profile_picture" src="http://bit.ly/2l7tkrK"/>
                <p id="profile_name">Logged as: <strong>PRZEMEK</strong> <hr></p>
                <button type="button" id="logout_button"
                onclick="location.href='index'">logout</button>
            </div>
            <div class="navigation">
                <nav>
                    <ul class="navigation">
                        <strong>LOGIN</strong>
                            <li><a href="index.html">correct login</a> </li>
                            <li><a href="login_error.html">incorrect login</a> </li><hr>
                        <strong>STUDENT</strong>
                            <li><a href="student_list">List</a></li>
                            <li><a href="student_add">Add</a></li>
                            <li><a href="student_details.html">Details</a></li><hr>
                        <strong>MENTOR</strong>
                            <li><a href="mentor_list">List</a></li>
                            <li><a href="mentor_add">Add</a></li>
                            <li><a href="mentor_details.html">Details</a></li><hr>
                        <strong>EMPLOYEE</strong>
                            <li><a href="employee_list">List</a></li>
                            <li><a href="employee_add">Add</a></li><hr>
                        <strong>ASSIGNMENTS</strong>
                            <li><a href="assignment_list">List</a></li>
                            <li><a href="assignment_add">Add</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <article>


                                <h3>LIST OF STUDENTS</h3>
            <div class="container">
            <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">

                <table class="table-bordered" style="width: 120%">
                    <tr>


                        <th>#</th>
                        <div class="col-md-3">
                        <th>First Name</th>


                        <th>Surname</th>


                        <th>Actions</th>

                        <th class="button_border"><button class="button" type="button"
                            onclick="location.href='student_add'">add student</button></th>
                    </tr>

                    {% block content %}
                        {% for student in students %}
                            <tr>
                            <td>{{ students.index(student) + 1 }}</td>
                            <td>{{ student.name }}</td>
                            <td>{{ student.surname }}</td>
                            <td>
                                <ul>
                                    <li><a href="/student_edit/{{ student.id }}">[Edit] </a></li>
                                    <li><a href="/student_remove/{{ student.id }}">[Remove]</a></li><br>
                                </ul>
                            </td>
                            </tr>

                        {% endfor %}
                    {% endblock %}
                </table></div><div class="col-md-3"></div>
            </div></div>
        </article>
    </body>
</html>
