<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" type="text/css" href="css/table.css">
        <title>Student List</title>
        <meta charset="utf-8">
    </head>
    <body>
        <header style="background-image: url(img/ccms-header.jpg)"></header>
        <div class="sidebar">
            <div class="profile">
                <img id="profile_picture" src="http://bit.ly/2l7tkrK"/>
                <p id="profile_name">Logged as: <strong>PRZEMEK</strong> <hr></p>
                <button type="button" id="logout_button"
                onclick="location.href='index.html'">logout</button>
            </div>
            <div class="navigation">
                <nav>
                    <ul class="navigation"><strong>LOGIN</strong>
                            <li><a href="index.html">correct login</a> </li>
                            <li><a href="login_error.html">incorrect login</a> </li><hr>
                        <strong>STUDENT</strong>
                            <li><a class = "active" href="student_list.html">List</a></li>
                            <li><a href="student_add.html">Add</a></li>
                            <li><a href="student_edit.html">Edit</a></li>
                            <li><a href="student_details.html">Details</a></li><hr>
                        <strong>TEAM</strong>
                            <li><a href="team_list.html">List</a></li>
                            <li><a href="team_add.html">Add</a></li>
                            <li><a href="team_edit.html">Edit</a></li><hr>
                        <strong>MENTOR</strong>
                            <li><a href="mentor_list.html">List</a></li>
                            <li><a href="mentor_add.html">Add</a></li>
                            <li><a href="mentor_edit.html">Edit</a></li>
                            <li><a href="mentor_details.html">Details</a></li><hr>
                        <strong>EMPLOYEE</strong>
                            <li><a href="employee_list.html">List</a></li>
                            <li><a href="employee_add.html">Add</a></li>
                            <li><a href="employee_edit.html">Edit</a></li><hr>
                        <strong>CLASS</strong>
                            <li><a href="class_list.html">List</a></li>
                            <li><a href="class_add.html">Add</a></li>
                            <li><a href="class_edit.html">Edit</a></li><hr>
                        <strong>ASSIGNMENTS</strong>
                            <li><a href="assignment_list.html">List</a></li>
                            <li><a href="assignment_add.html">Add</a></li>
                            <li><a href="assignment_edit.html">Edit</a></li><hr>
                        <strong>ATTENDANCE</strong>
                            <li><a href="attendance_check.html">Check</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <article>
            <h3>LIST OF STUDENTS</h3>
            <div>
                <center><table>
                    <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Surname</th>
                        <th>Actions</th>
                        <th class="button_border"><button class="button" type="button"
                            onclick="location.href='student_add.html'">add student</button></th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Adam</td>
                        <td>Abacki</td>
                        <td>
                            <ul>
                                <li><a href="student_edit.html">[Edit] </a></li>
                                <li><a href="#.html">[Remove]</a></li>
                                <li><a href="student_edit.html">[Add to team]</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Bolesław</td>
                        <td>Babacki</td>
                        <td>
                            <ul>
                                <li><a href="student_edit.html">[Edit] </a></li>
                                <li><a href="#.html">[Remove]</a></li>
                                <li><a href="student_edit.html">[Add to team]</a></lli>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Czesław</td>
                        <td>Cabacki</td>
                        <td>
                            <ul>
                                <li><a href="student_edit.html">[Edit] </a></li>
                                <li><a href="#.html">[Remove]</a></li>
                                <li><a href="student_edit.html">[Add to team]</a></l
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Damian</td>
                        <td>Dabacki</td>
                        <td>
                            <ul>
                                <li><a href="student_edit.html">[Edit] </a></li>
                                <li><a href="#.html">[Remove]</a></li>
                                <li><a href="student_edit.html">[Add to team]</a></l
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Edward</td>
                        <td>Ebacki</td>
                        <td>
                            <ul>
                                <li><a href="student_edit.html">[Edit] </a></li>
                                <li><a href="#.html">[Remove]</a></li>
                                <li><a href="student_edit.html">[Add to team]</a></l
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Fabian</td>
                        <td>Fabacki</td>
                        <td>
                            <ul>
                                <li><a href="student_edit.html">[Edit] </a></li>
                                <li><a href="#.html">[Remove]</a></li>
                                <li><a href="student_edit.html">[Add to team]</a></l
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Grzegorz</td>
                        <td>Gabacki</td>
                        <td>
                            <ul>
                                <li><a href="student_edit.html">[Edit] </a></li>
                                <li><a href="#.html">[Remove]</a></li>
                                <li><a href="student_edit.html">[Add to team]</a></l                            </ul>
                        </td>
                    </tr>
              </table></center>
            </div>
        </article>
    </body>
</html>
