{% extends "layout.html" %}
{% block content  %}
        <article>
            <h3>LIST OF STUDENTS</h3>
            <div>
                <center><table>
                    <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Surname</th>
                        <th>Actions</th>
                        <th class="button_border"><button class="button" type="button"
                            onclick="location.href='student_add'">add student</button></th>
                    </tr>
                        {% for student in students %}
                            <tr>
                            <td>{{ students.index(student) + 1 }}</td>
                            <td>{{ student.name }}</td>
                            <td>{{ student.surname }}</td>
                            <td>
                                <ul>
                                    <li><a href="/student_edit/{{ student.id }}">[Edit] </a></li>
                                    <li><a href="/student_remove/{{ student.id }}">[Remove]</a></li><br>
                                </ul>
                            </td>
                            </tr>
                        {% endfor %}
              </table></center>
            </div>
        </article>
{% endblock %}