<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='css/style.css') }}">
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='css/table.css') }}">
        <title>Student Edit</title>
        <meta charset="utf-8">
    </head>
    <body>
        <header style="background-image: url(static/img/ccms-header.jpg)"></header>
        <div class="sidebar">
            <div class="profile">
                <img id="profile_picture" src="http://bit.ly/2l7tkrK"/>
                <p id="profile_name">Logged as: <strong>PRZEMEK</strong> <hr></p>
                <button type="button" id="logout_button"
                onclick="location.href='index'">logout</button>
            </div>
            <div class="navigation">
                 <nav>
                    <ul class="navigation">
                        <strong>LOGIN</strong>
                            <li><a href="index.html">correct login</a> </li>
                            <li><a href="login_error.html">incorrect login</a> </li><hr>
                        <strong>STUDENT</strong>
                            <li><a href="student_list">List</a></li>
                            <li><a href="student_add">Add</a></li>
                            <li><a href="student_details.html">Details</a></li><hr>
                        <strong>MENTOR</strong>
                            <li><a href="mentor_list">List</a></li>
                            <li><a href="mentor_add">Add</a></li>
                            <li><a href="mentor_details.html">Details</a></li><hr>
                        <strong>EMPLOYEE</strong>
                            <li><a href="employee_list">List</a></li>
                            <li><a href="employee_add">Add</a></li><hr>
                        <strong>ASSIGNMENTS</strong>
                            <li><a href="assignment_list">List</a></li>
                            <li><a href="assignment_add">Add</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <article>
            <form action="{{ url_for('student_edit', student_id=student.id) }}" method="post">
            <div class="form">
                <h2>Edit student menu</h2>
                <p>Name</p><p><input name="name" value="{{ student.name }}" required>  </p>
                <p>Surname</p><p><input name="surname" value="{{ student.surname }}" required></p>
                <p>Login</p><p><input name="login" value="{{ student.login }}"></p>
                <p>Password</p><p><input name="password" value="***"></p>
                <h3>Assign to team</h3>
                <p>
                    <select name="team">
                    <option value="team">Motylki</option>
                    <option value="team">Biedronki</option>
                    <option value="team">Muchomorki</option>
                    <option value="team">Ślimaki</option>
                    </select>
                </p>
                <p> <button class="button" type="submit" formaction="{{ url_for('student_edit', student_id=student.id) }}" formmethod="post">SAVE CHANGES</button> </p>
            </div></form>
        </article>
    </body>
</html>

