{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-2 col-sm-1 col-xs-1"></div>
        <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="page-header">
                <h1>Student Edit <span class="glyphicon glyphicon-pencil"></span></h1>
                <p><i>- edit a student</i></p>
            </div>
            <div class="form">
                <h5 style="color:red;text-align: center; ">{{ message }}</h5>
                <form action="{{ url_for('student_edit', student_id=student.id) }}" method="post">
                    <p>Name</p>
                    <p><input name="name" class="form-control" value="{{ student.name }}" required></p>
                    <p>Surname</p>
                    <p><input name="surname" class="form-control" value="{{ student.surname }}" required></p>
                    <p>Login</p>
                    <p><input name="login" class="form-control" value="{{ student.login }}"></p>
                    <p>Password</p>
                    <p><input name="password" class="form-control" value="***"></p>
                    <p>
                        <button class="btn btn-info" type="submit"
                                formaction="{{ url_for('student_edit', student_id=student.id) }}" formmethod="post">
                            Save
                        </button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
