<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/css/style.css">
        <link rel="stylesheet" type="text/css" href="static/css/table.css">
        <title>Team List</title>
        <meta charset="utf-8">
    </head>
    <body>
        <header style="background-image: url(static/img/ccms-header.jpg)"></header>
        <div class="sidebar">
            <div class="profile">
                <img id="profile_picture" src="http://www.ockrk.co/assets/nophoto.jpeg"/>
                <p id="profile_name">Logged as: <strong>PRZEMEK</strong> <hr></p>
                <button type="button" id="logout_button"
                onclick="location.href='index'">logout</button>
            </div>
            <div class="navigation">
                <nav>
                    <ul class="navigation"><strong>LOGIN</strong>
                        <li><a href="index">correct login</a> </li>
                        <li><a href="login_error">incorrect login</a> </li><hr>
                        <li><strong>STUDENT</strong></li>
                        <li><a href="student_list">List</a></li>
                        <li><a href="student_add">Add</a></li>
                        <li><a href="student_edit">Edit</a></li>
                        <li><a href="student_details">Details</a></li><hr>
                        <li><strong>TEAM</strong></li>
                        <li><a class = "active" href="team_list">List</a></li>
                        <li><a href="team_add">Add</a></li>
                        <li><a href="team_edit">Edit</a></li><hr>
                        <li><strong>MENTOR</strong></li>
                        <li><a href="mentor_list">List</a></li>
                        <li><a href="mentor_add">Add</a></li>
                        <li><a href="mentor_edit">Edit</a></li>
                        <li><a href="mentor_details">Details</a></li><hr>
                        <li><strong>EMPLOYEE</strong></li>
                        <li><a href="employee_list">List</a></li>
                        <li><a href="employee_add">Add</a></li>
                        <li><a href="employee_edit">Edit</a></li><hr>
                        <li><strong>CLASS</strong></li>
                        <li><a href="class_list">List</a></li>
                        <li><a href="class_add">Add</a></li>
                        <li><a href="class_edit">Edit</a></li><hr>
                        <li><strong>ASSIGNMENTS</strong></li>
                        <li><a href="assignment_list">List</a></li>
                        <li><a href="assignment_add">Add</a></li>
                        <li><a href="assignment_edit">Edit</a></li><hr>
                        <li><strong>ATTENDANCE</strong></li>
                        <li><a href="attendance_check">Check</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <article>
            <h3>LIST OF TEAMS</h3>
            <div>
                <center><table class="team">
                    <tr>
                        <th>#</th>
                        <th>Team Name</th>
                        <th>Actions</th>
                        <th class="button_border"><button class="button" type="button"
                            onclick="location.href='team_add'">add team</button></th>
                    </tr>
                    {% block content %}
                        {% for team in teams %}
                            <tr>
                            <td>{{ teams.index(team) + 1 }}</td>
                            <td>{{ team[1] }}</td>
                            <td>
                                <ul>
                                    <li><a href="employee_edit">[Edit] </a></li>
                                    <li><a href="#">[Remove]</a></li><br>
                                </ul>
                            </td>
                            </tr>
                        {% endfor %}
                    {% endblock %}
              </table></center>
            </div>
        </article>
    </body>
</html>
