<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" type="text/css" href="css/table.css">
        <title>Team Edit</title>
        <meta charset="utf-8">
    </head>
    <body>
        <header style="background-image: url(img/ccms-header.jpg)"></header>
        <div class="sidebar">
            <div class="profile">
                <img id="profile_picture" src="http://bit.ly/2l7tkrK"/>
                <p id="profile_name">Logged as: <strong>PRZEMEK</strong> <hr></p>
                <button type="button" id="logout_button"
                onclick="location.href='index'">logout</button>
            </div>
            <div class="navigation">
                <nav>
                    <ul class="navigation">
                        <strong>LOGIN</strong>
                            <li><a href="index.html">correct login</a> </li>
                            <li><a href="login_error.html">incorrect login</a> </li><hr>
                        <strong>STUDENT</strong>
                            <li><a href="student_list">List</a></li>
                            <li><a href="student_add">Add</a></li>
                            <li><a href="student_details.html">Details</a></li><hr>
                        <strong>MENTOR</strong>
                            <li><a href="mentor_list">List</a></li>
                            <li><a href="mentor_add">Add</a></li>
                            <li><a href="mentor_details.html">Details</a></li><hr>
                        <strong>EMPLOYEE</strong>
                            <li><a href="employee_list">List</a></li>
                            <li><a href="employee_add">Add</a></li><hr>
                        <strong>ASSIGNMENTS</strong>
                            <li><a href="assignment_list">List</a></li>
                            <li><a href="assignment_add">Add</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <article>
            <center>
                <div class="form">
                    <h2>Edit team menu</h2>
                    <p>Name<br><input name="name" value="BadBoys"></p>
                    <p>Week<br><input type="radio" name="week" value="A"> A
                        <input type="radio" name="week" value="B" checked> B
                    <p>Year<br><select name="team">
                        <option value="team">KRK_2016</option>
                        <option value="team">KRK_2017</option>
                        <option value="team">KRK_2018</option>
                        <option value="team">KRK_2019</option>
                        <option value="team">KRK_2020</option>
                    </select>
                    <p><textarea  rows="5" cols="30" name="comments" placeholder="Enter your comments"></textarea></p>
                    <p> <button class="button" type="button" > SAVE CHANGES</button> </p>
                </div>
            </center>
        </article>
    </body>
</html>
